In [82]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [85]:
## load the dataset
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [86]:
## preprocess the data
## drop unnecessary columns
data=data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [87]:
## encoding categorical variables
label_encoder_gender = LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [88]:
##one hot encoding for 'Geography' column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder()
geo_encoder=onehot_encoder.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [89]:
onehot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [90]:
geo_encoder_df = pd.DataFrame(geo_encoder, columns=onehot_encoder.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [91]:
#combine one hot encoder colulmnc with the original data
data=pd.concat([data.drop(['Geography'], axis=1), geo_encoder_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [93]:
## save the encoder and scaler for future use
with open('label_encoder_gender.pkl','wb')as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl','wb')as file:
    pickle.dump(onehot_encoder, file)

In [94]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [95]:
## divide the dataset into features and target variable
x=data.drop('Exited', axis=1)
y=data['Exited']


## split the data into training and testing sets\
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

## feature scaling
scaler= StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [96]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [97]:
with open('scaler.pkl','wb')as file:
    pickle.dump(scaler, file)

ANN (Artificial Nural Network) Implementation.

In [99]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [100]:
## Building the ANN model

model=Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)), ## HL1 Connected to Input Layer
    Dense(32, activation='relu'),  ## HL2
    Dense(1, activation='sigmoid')  ## Output Layer
])

In [101]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [102]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [103]:
## compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [104]:
## Set up TensorBoard callback
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [105]:
## Set up EarlyStopping callback
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [106]:
## Train the model
history=model.fit(
    x_train, y_train, validation_split=0.2, epochs=100, batch_size=32, callbacks=[early_stopping_callback, tensorboard_callback])

Epoch 1/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4770 - accuracy: 0.7833 - val_loss: 0.3994 - val_accuracy: 0.8313
Epoch 2/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3829 - accuracy: 0.8413 - val_loss: 0.3620 - val_accuracy: 0.8519
Epoch 3/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3539 - accuracy: 0.8541 - val_loss: 0.3501 - val_accuracy: 0.8494
Epoch 4/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8562 - val_loss: 0.3460 - val_accuracy: 0.8575
Epoch 5/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8647 - val_loss: 0.3445 - val_accuracy: 0.8550
Epoch 6/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8623 - val_loss: 0.3421 - val_accuracy: 0.8562
Epoch 7/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8655 - val_loss: 0.3424 - val_accuracy: 0.8537
Epoch 8/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3296 - accuracy: 0.8639 - val_loss: 0.3428 - val_accuracy: 0.8537
Epoch 9/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.8666 - val_loss: 0.3417 - val_accuracy: 0.8562
Epoch 10/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3244 - accuracy: 0.8686 - val_loss: 0.3418 - val_accuracy: 0.8575
Epoch 11/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3233 - accuracy: 0.8656 - val_loss: 0.3403 - val_accuracy: 0.8550
Epoch 12/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3220 - accuracy: 0.8675 - val_loss: 0.3412 - val_accuracy: 0.8537
Epoch 13/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3197 - accuracy: 0.8680 - val_loss: 0.3407 - val_accuracy: 0.8506
Epoch 14/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3183 - accuracy: 0.8706 - val_loss: 0.3392 - val_accuracy: 0.8531
Epoch 15/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3158 - accuracy: 0.8692 - val_loss: 0.3439 - val_accuracy: 0.8512
Epoch 16/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3153 - accuracy: 0.8709 - val_loss: 0.3468 - val_accuracy: 0.8500
Epoch 17/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3134 - accuracy: 0.8702 - val_loss: 0.3470 - val_accuracy: 0.8544
Epoch 18/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3124 - accuracy: 0.8727 - val_loss: 0.3417 - val_accuracy: 0.8531
Epoch 19/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3109 - accuracy: 0.8703 - val_loss: 0.3421 - val_accuracy: 0.8512

In [107]:
model.save('model.h5')

f:\Gen-AI\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [108]:
## LOad TensorBoard extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [110]:
%reload_ext tensorboard

In [111]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 21828), started 3 days, 18:48:43 ago. (Use '!kill 21828' to kill it.)

In [112]:
### load pickled objects