In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
import pickle

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
# Preprocessing and model training code would go here

data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
## One-hot encode 'Geography' column

onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
## combine one-hot encoded columns with original dataframe
data = pd.concat([data.drop('Geography',axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [7]:
## Split the data into features and target variable
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [8]:
## spilt the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [14]:
## scale these features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [15]:
## Save the encoders and scaler for future use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)


with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

ANN Regression Problem statement

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
## Build the ANN model
model= Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])


## compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From f:\Gen-AI\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From f:\Gen-AI\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

#set up TensorBoard callback
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [19]:
## Set up early stopping

early_stoppping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [20]:
## train the model
history = model.fit(
    x_train, y_train,
    validation_data=(x_test, y_test),
    epochs=100,
    callbacks=[early_stoppping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From f:\Gen-AI\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From f:\Gen-AI\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 5ms/step - loss: 100379.5938 - mae: 100379.5938 - val_loss: 98521.6484 - val_mae: 98521.6484
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99638.7969 - mae: 99638.7969 - val_loss: 97028.0391 - val_mae: 97028.0391
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97040.5391 - mae: 97040.5391 - val_loss: 93233.9219 - val_mae: 93233.9219
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 91922.1562 - mae: 91922.1562 - val_loss: 86878.6172 - val_mae: 86878.6172
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 84436.0234 - mae: 84436.0234 - val_loss: 78695.3828 - val_mae: 78695.3828
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 75675.3359 - mae: 75675.3359 - val_loss: 70048.8203 - val_mae: 70048.8203
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 67141.1094 - mae: 67141.1094 - val_loss: 62427.8125 - val_mae: 62427.8125
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 60151.0586 - mae: 60151.0586 - val_loss: 56840.7656 - val_mae: 56840.7656
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 55371.5352 - mae: 55371.5352 - val_loss: 53431.3633 - val_mae: 53431.3633
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 52638.2148 - mae: 52638.2148 - val_loss: 51794.3438 - val_mae: 51794.3438
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51343.5586 - mae: 51343.5586 - val_loss: 51199.3945 - val_mae: 51199.3945
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50825.4922 - mae: 50825.4922 - val_loss: 51001.0430 - val_mae: 51001.0430
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50573.1172 - mae: 50573.1172 - val_loss: 50908.7031 - val_mae: 50908.7031
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50446.6797 - mae: 50446.6797 - val_loss: 50845.1953 - val_mae: 50845.1953
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50349.6133 - mae: 50349.6133 - val_loss: 50793.3672 - val_mae: 50793.3672
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 50275.6875 - mae: 50275.6875 - val_loss: 50742.2773 - val_mae: 50742.2773
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50217.6445 - mae: 50217.6445 - val_loss: 50695.8711 - val_mae: 50695.8711
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50165.3398 - mae: 50165.3398 - val_loss: 50663.8945 - val_mae: 50663.8945
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 50118.2773 - mae: 50118.2773 - val_loss: 50632.9453 - val_mae: 50632.9453
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 50079.4258 - mae: 50079.4258 - val_loss: 50599.6641 - val_mae: 50599.6641
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 50036.5352 - mae: 50036.5352 - val_loss: 50568.8867 - val_mae: 50568.8867
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 50001.8438 - mae: 50001.8438 - val_loss: 50538.6797 - val_mae: 50538.6797
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49966.0352 - mae: 49966.0352 - val_loss: 50515.5312 - val_mae: 50515.5312
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49934.2070 - mae: 49934.2070 - val_loss: 50493.9219 - val_mae: 50493.9219
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49904.1133 - mae: 49904.1133 - val_loss: 50471.2031 - val_mae: 50471.2031
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49879.9844 - mae: 49879.9844 - val_loss: 50454.9492 - val_mae: 50454.9492
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49854.9375 - mae: 49854.9375 - val_loss: 50452.2461 - val_mae: 50452.2461
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49829.6250 - mae: 49829.6250 - val_loss: 50430.7344 - val_mae: 50430.7344
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49806.6836 - mae: 49806.6836 - val_loss: 50421.7773 - val_mae: 50421.7773
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49786.6875 - mae: 49786.6875 - val_loss: 50413.2109 - val_mae: 50413.2109
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49765.8555 - mae: 49765.8555 - val_loss: 50402.0156 - val_mae: 50402.0156
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49745.6250 - mae: 49745.6250 - val_loss: 50392.0977 - val_mae: 50392.0977
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49727.2070 - mae: 49727.2070 - val_loss: 50377.5938 - val_mae: 50377.5938
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49711.3594 - mae: 49711.3594 - val_loss: 50367.4883 - val_mae: 50367.4883
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49696.5078 - mae: 49696.5078 - val_loss: 50348.4219 - val_mae: 50348.4219
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 49683.4414 - mae: 49683.4414 - val_loss: 50354.7539 - val_mae: 50354.7539
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49668.4258 - mae: 49668.4258 - val_loss: 50348.8125 - val_mae: 50348.8125
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49658.2656 - mae: 49658.2656 - val_loss: 50345.2344 - val_mae: 50345.2344
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49645.5000 - mae: 49645.5000 - val_loss: 50344.0703 - val_mae: 50344.0703
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49636.3867 - mae: 49636.3867 - val_loss: 50345.9648 - val_mae: 50345.9648
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49622.7773 - mae: 49622.7773 - val_loss: 50339.3125 - val_mae: 50339.3125
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49612.9414 - mae: 49612.9414 - val_loss: 50342.9531 - val_mae: 50342.9531
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49604.3672 - mae: 49604.3672 - val_loss: 50329.4492 - val_mae: 50329.4492
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49594.7383 - mae: 49594.7383 - val_loss: 50321.0977 - val_mae: 50321.0977
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49583.9648 - mae: 49583.9648 - val_loss: 50317.3242 - val_mae: 50317.3242
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49577.3477 - mae: 49577.3477 - val_loss: 50319.5273 - val_mae: 50319.5273
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49568.5039 - mae: 49568.5039 - val_loss: 50321.3594 - val_mae: 50321.3594
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49561.4492 - mae: 49561.4492 - val_loss: 50318.2930 - val_mae: 50318.2930
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49551.3984 - mae: 49551.3984 - val_loss: 50317.8477 - val_mae: 50317.8477
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49546.4062 - mae: 49546.4062 - val_loss: 50320.7188 - val_mae: 50320.7188
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49536.9219 - mae: 49536.9219 - val_loss: 50317.6719 - val_mae: 50317.6719
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49531.4102 - mae: 49531.4102 - val_loss: 50311.8789 - val_mae: 50311.8789
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49525.5703 - mae: 49525.5703 - val_loss: 50326.4766 - val_mae: 50326.4766
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49515.6289 - mae: 49515.6289 - val_loss: 50311.8594 - val_mae: 50311.8594
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49510.5078 - mae: 49510.5078 - val_loss: 50314.5977 - val_mae: 50314.5977
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49504.4961 - mae: 49504.4961 - val_loss: 50326.1914 - val_mae: 50326.1914
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49499.3789 - mae: 49499.3789 - val_loss: 50313.1875 - val_mae: 50313.1875
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49491.2539 - mae: 49491.2539 - val_loss: 50324.4336 - val_mae: 50324.4336
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49486.3750 - mae: 49486.3750 - val_loss: 50325.6094 - val_mae: 50325.6094
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49481.4453 - mae: 49481.4453 - val_loss: 50322.7227 - val_mae: 50322.7227
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49476.7891 - mae: 49476.7891 - val_loss: 50321.4453 - val_mae: 50321.4453
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49472.2188 - mae: 49472.2188 - val_loss: 50329.2031 - val_mae: 50329.2031
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49466.9414 - mae: 49466.9414 - val_loss: 50320.1094 - val_mae: 50320.1094
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49459.2188 - mae: 49459.2188 - val_loss: 50323.3945 - val_mae: 50323.3945

In [22]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 24372), started 0:00:41 ago. (Use '!kill 24372' to kill it.)

In [25]:
## evaluate the model

test_loss, test_mae = model.evaluate(x_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 5ms/step - loss: 50311.8594 - mae: 50311.8594
Test MAE: 50311.859375

In [27]:
model.save('regression_model.h5')